* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
}
.navbar .left {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar .left img {
  width: 60px;
  height: 30px;
}
.navbar .left p {
  font-size: 18px;
  color: rgb(66, 65, 65);
}
.navbar .right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar .right button {
  width: 150px;
  height: 40px;
  background-color: rgb(56, 191, 242);
  border: none;
  border-radius: 20px;
  gap: 20px;
}
.navbar .right p {
  font-size: 18px;
  color: rgb(66, 65, 65);
}
.navbar .right img {
  display: none;
}

@media (max-width: 400px) {
  .navbar {
    width: 360px;
    padding: 0 20px;
  }
  .navbar .left {
    width: 50%;
  }
  .navbar .left p {
    display: none;
  }
  .navbar .right {
    justify-content: space-between;
    width: 50%;
  }
  .navbar .right p {
    display: none;
  }
  .navbar .right img {
    display: block;
  }
  .navbar .right button {
    width: 70%;
  }
}
.div1 {
  height: 70vh;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div1 .left1 {
  width: 40%;
}
.div1 .left1 span {
  color: orange;
}
.div1 .left1 h1 {
  font-size: 42px;
  width: 100%;
  padding: 20px 0;
  font-weight: 400;
}
.div1 .left1 P {
  font-size: 20px;
  padding-bottom: 20px;
  width: 70%;
}
.div1 .left1 button {
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  background-color: rgb(241, 85, 37);
  color: white;
}
.div1 .right1 {
  width: 40%;
}
.div1 .right1 img {
  width: 80%;
}

@media (max-width: 400px) {
  .div1 {
    width: 400px;
    padding: 0;
    flex-direction: column;
    margin-bottom: 200px;
  }
  .div1 .left1 {
    width: 100%;
  }
  .div1 .left1 h1 {
    width: 80%;
    margin: auto;
    font-size: 30px;
    text-align: center;
  }
  .div1 .left1 P {
    margin: auto;
    text-align: center;
  }
  .div1 .left1 button {
    display: block;
    margin: auto;
  }
  .div1 .right1 {
    width: 100%;
    margin-top: 20px;
  }
  .div1 .right1 img {
    display: block;
    margin: auto;
  }
}
.div2 {
  height: 10vh;
  margin-bottom: 40px;
}
.div2 h1 {
  text-align: center;
  padding-top: 30px;
  font-weight: 400;
  font-size: 40px;
}

@media (max-width: 400px) {
  .div2 {
    width: 400px;
  }
  .div2 h1 {
    font-size: 30px;
  }
}
.div3 {
  align-items: center;
  height: 40vh;
  margin: 0 250px;
  padding: 0 30px;
  border-radius: 30px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.div3 p {
  font-size: 20px;
  width: 400px;
  padding: 20px 0;
}

@media (max-width: 400px) {
  .div3 {
    width: 400px;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .div3 .left3 {
    width: 400px;
  }
  .div3 .left3 img {
    display: none;
    width: 100%;
  }
  .div3 .left3 p {
    width: 100%;
  }
  .div3 .right3 {
    width: 100%;
  }
  .div3 .right3 img {
    width: 90%;
    padding: 0 5%;
  }
  .div3 .right3 P {
    font-size: 18px;
    text-align: center;
    margin: auto;
    width: 80%;
  }
}
.div4 {
  height: 10vh;
  text-align: center;
}
.div4 h1 {
  font-size: 40px;
  width: 500px;
  font-weight: 400;
  margin: auto;
}

@media (max-width: 400px) {
  .div4 {
    width: 400px;
  }
  .div4 h1 {
    width: 100%;
    font-size: 25px;
    margin: auto;
  }
}
.div5 {
  height: 40vh;
  display: flex;
  padding: 0 170px;
  justify-content: space-between;
  align-items: center;
}
.div5 .dib {
  width: 20%;
  height: 30vh;
  background-color: whitesmoke;
  border-radius: 20px;
}
.div5 .dib img {
  display: block;
  margin: auto;
  margin-top: 50px;
}
.div5 .dib h3 {
  text-align: center;
  padding: 20px 0;
}
.div5 .dib p {
  text-align: center;
  margin: auto;
}

@media (max-width: 400px) {
  .div5 {
    width: 400px;
    flex-direction: column;
    padding: 0;
    margin-bottom: 800px;
  }
  .div5 .dib {
    padding: 20px 0;
    height: 40vh;
    width: 90%;
    margin: 0 5%;
    margin-top: 20px;
  }
}
.div6 {
  height: 40vh;
  display: flex;
  padding: 0 300px;
  justify-content: space-between;
  align-items: center;
}
.div6 .dib {
  width: 25%;
  height: 30vh;
  background-color: whitesmoke;
  border-radius: 20px;
}
.div6 .dib img {
  display: block;
  margin: auto;
  margin-top: 50px;
}
.div6 .dib h3 {
  text-align: center;
  padding: 20px 0;
}
.div6 .dib p {
  text-align: center;
  margin: auto;
}

@media (max-width: 400px) {
  .div6 {
    width: 400px;
    flex-direction: column;
    padding: 0;
    margin-bottom: 600px;
  }
  .div6 .dib {
    padding: 20px 0;
    height: 40vh;
    width: 90%;
    margin: 0 5%;
    margin-top: 20px;
  }
}
.div7 {
  height: 80vh;
}
.div7 h1 {
  text-align: center;
  padding: 20px 0;
}
.div7 p {
  text-align: center;
  margin: auto;
  width: 700px;
  padding-bottom: 30px;
  font-size: 20px;
}
.div7 .dib1 {
  margin: auto;
  width: 50%;
  background-image: url(/img/image7.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 48vh;
}
.div7 .dib1 img {
  display: block;
  margin: auto;
  padding-top: 150px;
}
.div7 .dib1 p {
  margin: auto;
  color: white;
  padding: 20px 0;
  font-size: 30px;
}

@media (max-width: 400px) {
  .div7 {
    width: 400px;
    padding: 0;
    margin: 0;
    margin-bottom: -300px;
  }
  .div7 h1 {
    width: 100%;
    margin: auto;
  }
  .div7 p {
    width: 100%;
    margin: auto;
    font-size: 17px;
  }
  .div7 .dib1 {
    width: 100%;
    height: 80vh;
    width: 90%;
    background-size: cover;
    display: none;
  }
  .div7 .dib1 img {
    margin: 0;
  }
}
.div8 {
  height: 70vh;
  padding: 0 100px;
  background-color: whitesmoke;
}
.div8 .dib2 {
  width: 50%;
  background-color: white;
  height: 40vh;
  margin: 5vh 0;
  border-radius: 20px;
  border-right: 1px solid;
}
.div8 .dib2 h1 {
  margin: auto;
  color: blue;
  padding-left: 50px;
  padding-top: 30px;
  font-size: 100px;
}
.div8 .dib2 p {
  margin: auto;
  padding-left: 50px;
  font-size: 17px;
}
.div8 .dib2 h2 {
  margin: auto;
  padding: 10px 0;
  padding-left: 50px;
}
.div8 .dib3 {
  display: flex;
  justify-content: space-between;
}
.div8 .dih {
  background-color: white;
  border-radius: 30px;
  width: 35%;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.div8 .dih p {
  width: 50%;
}
.div8 .dih button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  background-color: rgb(241, 85, 37);
}

@media (max-width: 400px) {
  .div8 {
    width: 400px;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  .div8 .dib3 {
    flex-direction: column;
  }
  .div8 .dib2 {
    width: 90%;
    margin: 0 5%;
  }
  .div8 .dib2 h1 {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  .div8 .dib2 h2 {
    padding: 0;
    margin: auto;
    text-align: center;
    padding: 10px 0;
  }
  .div8 .dib2 p {
    padding: 0;
    text-align: center;
  }
  .div8 .dih {
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
    height: 120px;
  }
  .div8 .dih button {
    width: 80%;
    margin: auto;
  }
  .div8 .dih p {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
  }
}
.div9 {
  height: 40vh;
}
.div9 .dif {
  margin: 0 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
}
.div9 .dif .left5 {
  background-color: whitesmoke;
  width: 38%;
  height: 70%;
  border-radius: 20px;
}
.div9 .dif .left5 img {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 40px;
}
.div9 .dif .right5 {
  width: 58%;
  background-color: whitesmoke;
  height: 70%;
  border-radius: 20px;
}
.div9 .dif .right5 h1 {
  padding-top: 30px;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
.div9 .dif .right5 h3 {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
.div9 .dif .right5 p {
  text-align: center;
  margin: auto;
}

@media (max-width: 400px) {
  .div9 {
    width: 400px;
    padding: 0;
    margin: 0;
    margin-top: 550px;
  }
  .div9 .dif {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
  .div9 .dif .left5 {
    width: 100%;
  }
  .div9 .dif .right5 {
    width: 100%;
  }
}
.div10 {
  height: 40vh;
}
.div10 .dif {
  margin: 0 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  flex-direction: row-reverse;
}
.div10 .dif .left5 {
  background-color: whitesmoke;
  width: 38%;
  height: 70%;
  border-radius: 20px;
}
.div10 .dif .left5 img {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 40px;
}
.div10 .dif .right5 {
  width: 58%;
  background-color: whitesmoke;
  height: 70%;
  border-radius: 20px;
}
.div10 .dif .right5 h1 {
  padding-top: 30px;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
.div10 .dif .right5 h3 {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
.div10 .dif .right5 p {
  text-align: center;
  margin: auto;
}

@media (max-width: 400px) {
  .div10 {
    width: 400px;
    padding: 0;
    margin: 0;
    margin-top: 100px;
  }
  .div10 .dif {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
  .div10 .dif .left5 {
    width: 100%;
  }
  .div10 .dif .right5 {
    width: 100%;
  }
}
.div12 {
  text-align: center;
  height: 7vh;
}

.div11 {
  height: 40vh;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
}
.div11 .dix {
  height: 20vh;
  width: 30%;
  display: flex;
  padding: 0 20px;
  align-items: center;
}
.div11 .dix img {
  width: 100px;
  height: 10vh;
}
.div11 .dix p {
  font-size: 17px;
  width: 300px;
  padding-left: 10px;
}

@media (max-width: 400px) {
  .div12 {
    width: 400px;
    text-align: center;
    margin-top: 150px;
  }
  .div11 {
    padding: 0;
    width: 400px;
    flex-direction: column;
    margin-bottom: 20px;
    margin-bottom: 100px;
  }
  .div11 .dix {
    width: 80%;
    margin-bottom: 20px;
  }
}
.div13 {
  height: 30vh;
  margin: 0 200px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-bottom: 100px;
}
.div13 img {
  width: 10%;
}
.div13 p {
  width: 50%;
}
.div13 button {
  width: 25%;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: rgb(241, 85, 37);
  font-size: 18px;
  color: white;
}

@media (max-width: 400px) {
  .div13 {
    width: 400px;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .div13 p {
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
  }
  .div13 img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  .div13 button {
    width: 250px;
    margin-top: 10px;
    padding: 15px 0;
  }
}/*# sourceMappingURL=style.css.map */